---
import Caracteristicas from "../components/Caracteristicas.astro";
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Youtube Downloader">
  <nav class="bg-radical-red-100">
    <h2 class="text-radical-red-500 p-2 font-bold text-lg">
      YouTube<span class="text-violet-500">Downloader</span>
    </h2>
  </nav>
  <header>
    <section class="bg-radical-red-100 w-full">
      <div class="max-w-5xl mx-auto px-8">
        <div class="py-32 flex flex-col justify-center items-center gap-8">
          <h1 class="text-slate-800 text-4xl font-bold text-center">
            Descarga Videos de <span class="text-radical-red-500">Youtube</span>
            en linea
          </h1>
          <Form />
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="">
      <div class="max-w-5xl mx-auto px-8">
        <div class="py-32">
          <h2 class="text-slate-800 text-center text-2xl font-bold mb-4">
            Mejor descargador de Youtube 2023
          </h2>
          <p class="text-slate-600 text-center">
            es el sitio web más rápido para ayudarlo a descargar videos de
            Youtube en línea. Con solo unos simples pasos, puede descargar
            cualquier video de Youtube a su dispositivo en muchos formatos
            diferentes como: MP4, Webm, m4a, 3gp y especialmente X2Download le
            permite convertir videos de Youtube a mp3 con la mejor calidad de
            sonido. Todo es simple y completamente gratis.
          </p>
          <Caracteristicas />
        </div>
      </div>
    </section>
    <footer class="bg-neutral-800">
      <div></div>
      <p class="text-neutral-400 p-2">YouTubeDownloader 2023</p>
    </footer>
  </main>
</Layout>

<style>
  h2 {
    @apply text-center;
  }
</style>
